# кодировка сайта
AddDefaultCharset utf-8

# включает или выключает работу механизма преобразований
RewriteEngine On


# RewriteRule - правило преобразования адресов
# перенапраялвем все запросы в папку public
RewriteRule ^(.*)$ /public/$1 