
# RewriteCond СтрокаТестирования ШаблонУсловия [флаги]
# определяет условие, при котором будет иметь место перезапись
# RewriteCond могут предшествовать директиве RewriteRule
# REQUEST_FILENAME - полный путь в локальной файловой системе до файла или скрипта, совпадающего с запросом 
# -f если это не обычным файлом
# -d если это не каталогом
RewriteCond  %{REQUEST_FILENAME} !-f
RewriteCond  %{REQUEST_FILENAME} !-d
# выполняються это условия ->

# L (последний - указывает серверу прекратить перезапись после обработки предыдущей директивы.)
# QSA (добавить строку запроса из запроса к подставленному URL-адресу)
RewriteRule (.*) index.php?$1 [L,QSA]



